/* You can add global styles to this file, and also import other style files */

body{
	background-color: #222;
}

*{
	color:white
}

button {
	outline: none;
	border: 2px solid blue;
	border-radius: 5px;
	background-color: blue;
	color: white;
	padding: 0.5em 1em;
	text-transform: uppercase;
	font-weight: bold;
}